{% extends 'books/base.html' %}

{% block descr %}Каталог книг{% endblock descr %}
{% block keywords %}Каталог книг{% endblock keywords %}
{% block title %}Каталог книг{% endblock title %}

{% block content %}
    <h1>Каталог книг</h1>
    <div class="link-back">
        {% if request.user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'create_book_url' %}">Добавить новую книгу</a>
        {% else %}
            <small class="form-text text-muted">Добавить книгу может только зарегистрированный
                пользователь
            </small>
        {% endif %}
    </div>
    <div class="row">
        {% if books %}
            {% for book in books %}
                {% include 'books/includes/item.html' %}
            {% endfor %} <br><br>
        {% endif %}
    </div>
{% endblock content %}
